{% load static %}
<html>
    <head>
        <title>Google</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Home</a></h1>
                </div>
                {% block new_post_only_in_home %}
                {% endblock new_post_only_in_home %}
            </header>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>