{% extends 'base.html' %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <h2>Are you sure you want delete "{{ post.title }}" post?</h2>
    <input type="submit" value="Delete">
</form>
{% endblock content %}