{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.body }}</p>
    <p><a href="{% url 'edit_post' post.pk %}">Edit</a></p>
    <p><a href="{% url 'delete_post' post.pk %}">Delete</a></p>
{% endblock content %}