{% extends 'base.html' %}

{% block new_post_only_in_home %}
    <div class="nav-right">
        <h3><a href="{% url 'new_post' %}">+ New post</a></h3>
    </div>
{% endblock new_post_only_in_home %}
{% block content %}
    {% for post in object_list %}
        <div>
            <h2><a href="{% url 'detail_post' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}